<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>
    <h4>Greetings from {{appName}},</h4>
    <br/>
    <br/>
    <p>Hello, {{name}},</p>
    <br/>
    <p>from the team at {{appName}} we send you an notification that you have received an contact submission from our user
        for one of the service that you have in the system.</p>

    <p>Message From: <strong>{{fromName}} - {{fromEmail}}</strong></p>
    <h4>Message Reason: {{reason}}</h4>
    <h4>Message Subject: {{subject}}</h4>
    <p>Message: {{message}}</p>
    <br/>
    <br/>
    <p>Best Regards,</p>
    <p>The Team at {{appName}}</p>
    <br/>
</body>
</html>
