<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>
<h2>Contact form submission {{fromName}},</h2>
<br/>
<br/>
<h2>Message From: <strong>{{fromName}} - {{fromEmail}}</strong></h2>
<h2>Message Subject: {{subject}}</h2>
<h4>Message: </h4>
<p>{{message}}</p>
<br/>
<br/>
<p>Best Regards,</p>
<p>The Team at {{appName}}</p>
<br/>
</body>
</html>
