<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
<p>Greetings {{name}},</p>
<p></p>
<p>from the team at {{appName}} we send you an temporarily created user to log in our platform, where you will be able to check you Recent Orders.</p>
<p>You can use this link to proceed with Signing into the platform: <a href="http://ageweb.care/signin">{{appName}}</a>.</p>
<br/><p>From there you can use the <a href="http://ageweb.care/profile">My Profile</a> page to edit any information for your profile or business.</p>
<br/>
<br/>
<p>For Login please use the automatically created credentials by the system. Your new Credentials for LOGIN are:</p>
<p>Username: {{username}}</p>
<p>Password: {{password}}</p>
<p>Email: {{email}}</p>
<br/>
<br/>
<p>Best Regards,</p>
<p>The Team at {{appName}}</p>
<br/>
</body>

</html>
