<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
<p>Greetings {{name}},</p>
<p></p>
<p>from the team at {{appName}} we send you an invitation to register in our platform, where our admins have already setup an account for you.</p>
<p>You can use this link to proceed with Signing into the platform: <a href="http://ageweb.care/signin">{{appName}}</a>. From there you can use the <a href="http://ageweb.care/profile">My Profile</a> page to edit any information for your profile or business.</p>
<br/>
<br/>
<p>For Login please use the created credentials by the admin. Your new Credentials for LOGIN are:</p>
<p>Username: {{username}}</p>
<p>Password: {{password}}</p>
<p>Email: {{email}}</p>
<br/>
<br/>
<p>Best Regards,</p>
<p>The Team at {{appName}}</p>
<br/>
</body>

</html>
