<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
<p>Greetings {{name}},</p>
<p></p>
<p>from the team at {{appName}} we send you an email, to notify you about your Password Renewal Success.</p>
<p>To login and use our system again you can use this link to get back in <a href="http://ageweb.care/signin">{{appName}}</a></p>
<br/>
<br/>
<p>Best Regards,</p>
<p>The Team at {{appName}}</p>
</body>

</html>
