<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
<p>Greetings {{name}},</p>
<br/>
<p>from the team at {{appName}} we send you an email, because you have issued for a password renewal. In wich case we have deleted your old password and have generated a Reset Password Token.</p>
<p>You can use this link to proceed with Renewing your Lost password for out platform: <a href="http://ageweb.care/api/auth/reset/{{token}}">{{appName}}</a>.</p>
<p>After clicking the link you will be redirected to our reset password page, where you can enter your new Password and proceed with Logging in and using the platform.</p>
<br/>
<br/>
<p>Best Regards,</p>
<p>The Team at {{appName}}</p>
</body>

</html>
