<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AgeWeb.care</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/src/public/assets/img/logo_128.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

    <!-- Import bundled/compiled CSS -->
    <link rel="stylesheet" type="text/css" href="{{path}}/src/public/stylesheets/app.css">
  </head>
  <body>
    <div id="root" class="wrapper"></div>
  </body>

  <!-- Import bundled JavaScript -->
  <script src="{{path}}/bundle.js"></script>
</html>
